<!doctype html>
<html ng-app="CaseRevisionApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>CaseRevision</title>
    <link href="css/index.css" rel='stylesheet'>
    <link href="css/layout.css" rel='stylesheet'>
    <link rel="stylesheet" href="js/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="js/libs/angular-material/angular-material.min.css">

</head>
<body class="input">
<div class="head-wrapper">
    <div class="mobile-menu" ng-click="menuLinkClick()" top-menu></div>
    <cr-header></cr-header>
    <div ng-show="isOpenMenu" ng-click="invisiBlockStatus()" class="invisibleBlock" ng-cloak></div>
    <img class="logotype" src="img/logo.png" alt="Logo">
    <div class="view" ng-view></div>

    <!--<script src="cordova.js"></script>-->
    <script src="js/libs/angular/angular.js"></script>

    <script src="js/libs/angular-animate/angular-animate.min.js"></script>
    <script src="js/libs/angular-aria/angular-aria.min.js"></script>
    <script src="js/libs/angular-messages/angular-messages.min.js"></script>
    <script src="js/libs/angular-material/angular-material.min.js"></script>
    <script src="js/libs/jq/jquery-2.1.4.min.js"></script>

    <script src="js/libs/angular-route/angular-route.min.js"></script>
    <script src="js/libs/angular-cookies/angular-cookies.min.js"></script>

    <script src="js/libs/ngCordova/dist/ng-cordova.js"></script>
    <script src="js/controllers/AppController.js"></script>
    <script src="js/controllers/modalCtrl.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/sectionController.js"></script>
    <script src="js/controllers/topicController.js"></script>
    <script src="js/controllers/videoController.js"></script>
    <script src="js/controllers/videoDetailController.js"></script>
    <script src="js/controllers/aboutUsController.js"></script>
    <script src="js/controllers/contactUsController.js"></script>
    <script src="js/controllers/accessController.js"></script>
    <script src="js/controllers/searchController.js"></script>
    <script src="js/factories/factories.js"></script>
    <script src="js/directives/directives.js"></script>
    <script src="js/factories/urlFactory.js"></script>
</div>
</body>
</html>
