


<h1 class="incorrectAutho" ng-show="loginSuccess">Invalid login or password</h1>
<form  name="loginForm" class="loginForm" role="form">
    <input type="text" name="login" placeholder="username" ng-model="user.username" required>
    <input type="password" name="password" placeholder="password" ng-model="user.password" required>
</form>
<button type="button" ng-click="login()" class="btn btn-primary" name="login-button">Login</button> 



<!--<div class="myrow">
    <img src='img/logo.png' alt='logo'></div>
<div class='wrapper-site-login'> 
    <div class="myrow">
        <h1>Login</h1>
        <p>Please fill out the following fields to login:</p>
    </div>
    <div class="myrow">
        <div>
            <form name="loginForm">

                <div class="form-group field-loginform-username required">
                    <label class="control-label" for="loginform-username">Username</label>
                    <input type="text" name="username" placeholder="Username" ng-model="user.username" class="form-control" required >
                    <p class="help-block help-block-error"></p>
                </div>
                <div class="form-group field-loginform-password required">
                    <label class="control-label" for="loginform-password">Password</label>
                    <input type="password" name="password" placeholder="password" ng-model="user.password" class="form-control" required>
                    <p class="help-block help-block-error"></p>
                    <div class="form-group">
                        <button type="button" ng-click="login()" class="btn btn-primary" name="login-button">Login</button>            </div>
                </div>
            </form>       

        </div>
    </div>-->


