<h1 ng-if="loginSuccess" class="incorrectAutho">{{textError}}</h1>
<form  name="loginForm" class="loginForm" role="form">
    <input id="first_input" type="text" name="login" placeholder="User Name" ng-model="user.username" required>
    <input type="password" name="password" placeholder="Password" ng-model="user.password"  required>
    <div><label><input ng-model="user.remember" ng-checked="user.rememb" type="checkbox" ><span>Remember me</span></label></div>
</form>
<md-button ng-click="login()" class="search-button md-raised md-primary login_btn" name="login-button">Login</md-button>

