<div>
    <div class="SearchContainer">
        <div class="titleContainer" breadcrumbs>
        </div>
        <h1 ng-hide="searchResult">Video not found</h1>
        <ul class="videoList" ng-show="searchResult">

            <li  ng-repeat="video in videos">
                <span >
                    <a href="#/section/{{video.topic.section_id}}/{{video.topic.id}}/{{video.id}}">{{video.name}}
                        <br>
                        <div class="for_after">
                            <img width="100%" alt="video_prew" src="{{video.image}}">
                        </div>
                    </a>
                </span>

            </li>
        </ul>
    </div>
    <footer>
        <div class="search-block">
            <label>
                <input placeholder="Search" ng-model="term">
                <button ng-click="search()">
                    <i class="fa fa-search"></i>
                </button>
            </label>
        </div>
    </footer>
</div>