<div class="signUp">
    <h1>Sign up</h1>
    <p class="else">Please fill out the following fields to signup:</p>

    <form name="signUpForm" class="loginForm" role="form">
        <input type="text" name="user_name" placeholder="User Name *" ng-model="newUser.user_name" required>
        <input type="email" name="email" placeholder="E-mail *" ng-model="newUser.email"
               ng-pattern="/^\w+.+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" required>
        <input type="text" name="first_name" placeholder="First Name" ng-model="newUser.first_name">
        <input type="text" name="last_name" placeholder="Last Name" ng-model="newUser.last_name">
        <input type="text" name="university" placeholder="University" ng-model="newUser.university">
        <input type="text" name="address1" placeholder="Address 1" ng-model="newUser.address1">
        <input type="text" name="address2" placeholder="Address 2" ng-model="newUser.address2">
        <input type="text" name="address3" placeholder="Address 3" ng-model="newUser.address3">
        <input type="text" name="zip" placeholder="Postcode" ng-model="newUser.zip">
        <input type="text" name="country" placeholder="Country" ng-model="newUser.country">
        <input type="password" name="password" placeholder="Password *" ng-model="newUser.password" ng-minlength="6" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password *"
               ng-model="newUser.confirm_password" required>
        <input type="text" name="discount_code" placeholder="Enter Promotion Code" ng-model="newUser.discount_code">
        <!--<input type="email" name="friend_email" placeholder="Sales Person's Email" ng-model="newUser.friend_email"-->
               <!--ng-pattern="/^\w+.+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/">-->
        <div class="terms">
            <h4>Terms and Conditions & Privacy Policy</h4>

            <h4>This privacy policy sets out how CaseRevision uses and protects any information that you provide to us
                when you
                use this website.</h4>

            <p>CaseRevision is committed to ensuring that your privacy is protected. Should we ask you to provide
                certain
                information by which you can be identified when using this website, then you can be assured that it will
                only be
                used in accordance with this privacy statement. CaseRevision may change this policy from time to time by
                updating this page. You should check this page from time to time to ensure that you are happy with any
                changes.
                This policy is effective from August 6, 2015.</p>

            <h4>Cookies</h4>

            <p>A cookie is a simple text file that is stored on your computer or mobile device by a website's server and
                only
                that server will be able to retrieve or read the contents of that cookie. Each cookie is unique to your
                web
                browser. It will contain some anonymous information such as a unique identifier and the site name and
                some
                digits and numbers. It allows a website to remember things like your preferences or what's in your
                shopping
                basket.</p>

            <p>Most websites you visit will use cookies in order to improve your user experience by enabling that
                website to
                'remember' you, either for the duration of your visit (using a 'session cookie') or for repeat visits
                (using a
                'persistent cookie').</p>

            <p>Cookies do lots of different jobs, like letting you navigate between pages efficiently, storing your
                preferences,
                and generally improving your experience of a website. Cookies make the interaction between you and the
                website
                faster and easier. If a website doesn't use cookies, it will think you are a new visitor every time you
                move to
                a new page on the site – for example, when you enter your login details and move to another page it
                won't
                recognise you and it won't be able to keep you logged in.</p>

            <p>Some websites will also use cookies to enable them to target their advertising or marketing messages
                based for
                example, on your location and/or browsing habits.</p>

            <p>Cookies may be set by the website you are visiting ('first party cookies') or they may be set by other
                websites
                who run content on the page you are viewing ('third party cookies').</p>

            <p>This website uses cookies to ensure that we give you the best experience. If you continue without
                changing your
                settings, we'll assume that you are happy to receive all cookies on this website. However, if you would
                like to,
                you can change your cookie settings at any time.</p>

            <h4>HOW CAN I CONTROL COOKIE SETTINGS?</h4>

            <h5>Web Browser Cookies:</h5>

            <p>If you don't want to receive cookies, you can modify your browser so that it notifies you when cookies
                are sent
                to it or you can refuse cookies altogether. You can also delete cookies that have already been set. If
                you wish
                to restrict or block web browser cookies which are set on your device then you can do this through your
                browser
                settings; the Help function within your browser should tell you how. Alternatively, you may wish to
                visit
                http:// www.aboutcookies.org/,
                which contains comprehensive information on how to do this on a wide
                variety of
                desktop browsers.</p>

            <h4>Adobe Flash Player Cookies:</h4>

            <p>The Adobe Flash Player, used to provide services such as iPlayer or web-based games, is also capable of
                storing
                information on your device. However, these cookies cannot be controlled through your web browser. Some
                web
                browser manufacturers are developing solutions to allow you to control these through your browser, but
                at the
                present time, if you wish to restrict or block Flash Cookies, then you must do this on the Adobe
                website.</p>

            <p>Please be aware that restricting the use of Flash Cookies may affect the features available to you, for
                example,
                the auto resume feature in video players.</p>

            <h4>Third Party Cookies</h4>

            <p>We sometimes embed photos and video content from websites such as Flickr, Vimeo and YouTube. Pages with
                this
                embedded content may present cookies from these websites. Similarly, when you use one of the share
                buttons on
                this website, a cookie may be set by the service you have chosen to share content through. We do not
                control the
                dissemination of these cookies and this tool will not block cookies from those websites. You should
                check the
                relevant third party website for more information about these.</p>


            <h4>What we collect</h4>

            <p>We may collect the following information:</p>
            <p>name and job title</p>
            <p>contact information including email address</p>
            <p>demographic information such as postcode, preferences and interests</p>
            <p>other information relevant to customer surveys and/or offers</p>
            <p>What we do with the information we gather</p>

            <ul>We require this information to understand your needs and provide you with a better service, and in
                particular
                for the following reasons:
                <li>Internal record keeping.</li>
                <li>We may use the information to improve our products and services.</li>
                <li>We may periodically send promotional email about new products, special offers or other information
                    which we
                    think you may find interesting using the email address which you have provided.
                </li>
                <li>From time to time, we may also use your information to contact you for market research purposes. We
                    may
                    contact you by email, phone, fax or mail.
                </li>
                <li>We may use the information to customise the website according to your interests.</li>
            </ul>
            <h4>Security</h4>

            <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or
                disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and
                secure
                the information we collect online.</p>

            <h4>How we use cookies</h4>

            <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you
                agree, the
                file is added and the cookie helps analyse web traffic or lets you know when you visit a particular
                site.
                Cookies allow web applications to respond to you as an individual. The web application can tailor its
                operations
                to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>

            <p>We use traffic log cookies to identify which pages are being used. This helps us analyse data about web
                page
                traffic and improve our website in order to tailor it to customer needs. We only use this information
                for
                statistical analysis purposes and then the data is removed from the system.</p>

            <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you
                find useful
                and which you do not. A cookie in no way gives us access to your computer or any information about you,
                other
                than the data you choose to share with us.</p>

            <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can
                usually
                modify your browser setting to decline cookies if you prefer. This may prevent you from taking full
                advantage of
                the website.</p>

            <h4>Links to other websites</h4>

            <p>Our website may contain links to enable you to visit other websites of interest easily. However, once you
                have
                used these links to leave our site, you should note that we do not have any control over that other
                website.
                Therefore, we cannot be responsible for the protection and privacy of any information which you provide
                whilst
                visiting such sites and such sites are not governed by this privacy statement. You should exercise
                caution and
                look at the privacy statement applicable to the website in question.

            <h4>Controlling your personal information</h4>

            <p> You may choose to restrict the collection or use of your personal information in the following ways:</p>
            <p>whenever you are asked to fill in a form on the website, look for the box that you can click to indicate
                that you
                do not want the information to be used by anybody for direct marketing purposes</p>
            <p>if you have previously agreed to us using your personal information for direct marketing purposes, you
                may change
                your mind at any time by emailing us to let us know.</p>
            <p>We will not sell, distribute or lease your personal information to third parties unless we have your
                permission
                or are required by law. We may use your personal information to send you promotional information about
                third
                parties which we think you may find interesting if you tell us that you wish this to happen.</p>

            <p>You may request details of personal information which we hold about you under the Data Protection Act
                1998. A
                small fee will be payable. If you would like a copy of the information held on you please contact us via
                our
                online contact form. If you believe that any information we are holding on you is incorrect or
                incomplete,
                please email us as soon as possible.</p>

            <p>We will promptly correct any information found to be incorrect.</p>
        </div>

       <div class="ui"><input id="check" type="checkbox" ng-model="newUser.check"> Accept Terms and Conditions</div>
    </form>

    <p class="error_true">{{message}}</p>
    <button type="button" ng-click="signUp(newUser)" class="btn btn-primary pad" name="send-button">Create account
    </button>

    <p>Activation message will be sent to this E-mail</p>
</div>