<div>
    <div class="topicContent">
        <div class="historylinks">
        </div>
        <div class="titleContainer" breadcrumbs>
        </div>
        <div class="topicList" layout="column">
            <md-button ng-repeat="topic in topics" layout="row" layout-align="space-between center"
                       ng-click="goToPage(page, topic.id)">
                <div class="topicName">{{topic.name}}</div>
                <i class="fa fa-play"></i>
            </md-button>
        </div>
    </div>
    <footer>
        <div class="search-block" layout="row" layout-align="center center">
                <input flex="80" placeholder="Search" ng-model="term">
                <md-button ng-click="search()" class="search-button md-icon-button md-raised md-accent">
                    <md-icon md-svg-src="search"></md-icon>
                </md-button>
        </div>
    </footer>
</div>