<div>
    <div class="topicContent">
        <div class="historylinks">
        </div>
        <div class="titleContainer" breadcrumbs>
        </div>
        <ul class="topicList">
            <li ng-repeat="topic in topics">
                <a href="#{{page}}/{{topic.id}}">{{topic.name}}</a><i class="fa fa-play"></i>
                <div layout="row" layout-sm="column" layout-align="space-around">
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <div class="search-block">
            <label><input placeholder="Search" ng-model="term">
                <button ng-click="search()"><i class="fa fa-search"></i></button>
            </label>
        </div>
    </footer>
</div>